@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nerko+One&display=swap');
#title{
    padding-bottom: 300px;
    background-image: url(../images/darkheader.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 900px;
    overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #343a40; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

body #title{
    overflow-y: hidden;
}

.tution-tagline{
    margin-top: 150px;
}

.tagline-div{
    left: 300px;
}
h1.tution-tagline{
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text-typing 4s steps(40) 1s 1 normal both,
    cursor-blink 500ms steps(40) infinite normal;
    animation-iteration-count: infinite;
    border-right: 3px solid white;
    text-align: center;

}
/* Tution Tagline Animation */
@keyframes text-typing{
    from{
        width:0;
    }
    to{
        width: 22ch;
    }
}
@keyframes cursor-blink{
    from{
        border-right-color: rgba(255,255,255,0.75);
    }
    to{
        border-right-color: transparent;
    }
}

h3{
    font-family: "Montserrat-Bold",sans-serif;
    font-weight: 700;
}

h1.tution-tagline , .about-headings{
    font-family: 'Nerko One', cursive;

}

body{
    font-family: 'Montserrat';
    font-weight: bold;
}
h1{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: rgb(223, 217, 217);
}

h2{
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}


.container-fluid{
    padding: 3% 15% 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* About Section */
#about {
    padding: 7% 15%;
    background-color: #343a40;
    position: relative;
 

}

.about-box{
    text-align: center;
    padding: 5%;
    color: rgb(223, 217, 217);

}

/* Search Bar */
.search-bar{
    text-align: center;
}
.search-bar input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
.search-bar input[type=text]:focus {
    width: 100%;
  }

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem ;
    padding-top: 0px;
    padding-bottom: 0px;

}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
    font-size: 3rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.7rem;
    font-family: 'Nerko One', cursive;
}

.navbar-brand{
    margin-left: 100px;
    color: #f3edd2da;
    font-family: 'Nerko One', cursive;
}
/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;   
    border: #ccc; 
    box-shadow: 15% 15% #ccc;
}

/* Title Image  */
/* .title-section{
    padding-top: 50px;
    border-bottom-width: 30px;
    padding-bottom: 30px;

}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
} */

/* Testimonials Carousel */
#testimonials{
    text-align: center;
    background-color: #343a40;
    color: #dfd9d9;

}
#testimonial-carousel{
    box-shadow: 
    inset 0px 11px 8px -10px #34626c,
    inset 0px -11px 8px -10px #34626c; 
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    font-family: 'Nerko One', cursive;

}
.carousel-item{
    padding: 7% 15%;

}

/* Teachers Page */

#teachers, #courses{
    background-color: #34626c;
}

/* Teachers Cards */
#teacher-cards img{
    margin-top: -50px;

}

#teacher-cards p{
    font-weight: 500;
}

#teacher-cards .card{
    border-radius: 0;
    background-color:#f3edd2da;
    box-shadow: 5px 5px 15px  #34626c;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    margin-bottom: 60px;
    color: #343a40;
}

#teacher-cards .card:hover{
    background: #343a40;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
    cursor: pointer;

}

/* Teacher Header */
.teachers-heading, .courses-heading{
    color: rgb(223, 217, 217);
    font-family: 'Nerko One', cursive;


}

.teachers-tagline{
    color: rgb(223, 217, 217);

}


.subject-list{
    height: 50px;
    overflow: auto;
}



/* Course Cards */

.layout{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
}

#course .courseCard{
    display: inline-block;
    margin-bottom: -.5rem;
    border-radius: 0;
    box-shadow: 5px 5px 15px #34626c;
    background-color: #f3edd2da;
    color: #343a40;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    max-height: 200px;
}
#course .courseCard:hover{
    background: #343a40;
    color: #f3edd2da;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
    cursor: pointer;
}

.courseView{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

}

.content{
    float: left;
    width: 75%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-left: 1%;
    padding-top: 50px;
}


.title{
    font-size: 2rem;
    font-weight: bold;

}

.overview{
    word-wrap: break-word;
    white-space: normal;
    line-height: 1rem;
}



.course-tagline{
    color: rgb(223, 217, 217);
    text-align: center;
    margin-bottom: 2%;

}
/* p.course-tagline{
    color: rgb(223, 217, 217);

} */
h1.courses-heading{
    text-align: center;
    margin-top: 50px;
}


.image{
    float: left;
    background: transparent;
    width: 25%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.image:hover{
    cursor: pointer;
}

.course-image{
    width: 310px;
    height: auto;
    max-height: 200px;
}


.end-card{
    position: absolute;
    bottom: 0;
    width: 75.5%;
    left: 25%;
    padding-top: .25rem;
    padding-bottom: .3rem;
    padding-right: 0rem;
    padding-left: .5rem;
    margin-bottom: .8rem;
    margin-right: 5rem;
    margin-left: .5rem;
    padding-left: 0px;
    margin-left: 0px;
    left: 315px;
}

.end-card a:hover{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

a.navbtn{
    color: grey;
    padding-left: 20px;
}



/* Footer */
#footer{
    text-align: center;
    padding: 7% 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #34626c;
    color: rgb(223, 217, 217);

}

.footer-icon{
  margin: 20px 10px ;
  color: rgb(223, 217, 217);

}

@media(max-width:660px){
    
    h1.tution-tagline{
        animation: none;
        overflow: visible;
    }
}

@media only screen and (max-width: 991px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
    .card{
        margin-bottom: 50px;

    }
    #teacher-cards .card{
        max-width: 15rem;
        margin-left: 110px;
    }
    #teacher-cards .card-body{
        max-height: 15rem;
    }

    #teacher-cards .card-body h3{
        font-size: 1rem;
    }

    #teacher-cards .card-body h5{
        font-size: 0.9rem;
        font-weight: bold;
    }
    #teacher-cards .card-body p{
        font-size: 0.9rem;

    }

    #teacher-cards .subject-list{
        height: 30px;
        font-size: 0.8rem;

    }
    #course .title{
        font-size: 15px;
    }
    #course .content{
        padding-top: 20px;
        font-size: 10px;
    }

    #course .end-card .navbtn{
        font-size: 10px;
    }
    .end-card{
        left: 107px;
    }

    .search-bar input[type=text]{
        width: 250px;
    }
    .tagline-div{
        left: 50px;
    }
    
}